<anu-slideshow #slideshow class="">
  <div class="row nowrap" *ngFor="let img of value?.images">
    <anu-picture class="container slideshow_item" [src]="img | ProductImageUrl: value: 'sm'" [alt]="value?.title"
      [defaultSrc]="defaultImageUrl"></anu-picture>
  </div>
  <div *ngIf="!value?.images?.length" class="row nowrap">
    <anu-picture class="container slideshow_item" [defaultSrc]="defaultImageUrl"></anu-picture>
  </div>
</anu-slideshow>
<div class="container center spacing-half">
  <strong class="text-left text-nowrap-ellipses accent-deep-dark">{{value?.brand?.toUpperCase()}}</strong>
  <span class="text-left text-nowrap-ellipses">{{value?.title}}</span>

  <!-- Price -->
  <div class="row">
    <div class="product-price row" *ngIf="value?.offer[defaultSize] > 0">
      <strong class="spacing-around-h-half product-price-selling accent-deep-dark">Rs. {{value?.price[defaultSize] |
        sellingprice:
        value?.offer[defaultSize]}}</strong>
      <span class="spacing-around-h-half product-price-mrp text-strike">MRP Rs. {{value?.price[defaultSize]}}</span>
      <strong class="spacing-around-h-half product-price-discount warning">({{value?.offer[defaultSize]}}% OFF)</strong>
    </div>
    <div class="product-price" *ngIf="value?.offer[defaultSize] <= 0">
      <strong class="product-price-selling accent-deep-dark">Rs. {{value?.price[defaultSize] | sellingprice:
        value?.offer[defaultSize]}}</strong>
    </div>
  </div>
</div>

<anu-smart-button class="container primary-dark-grad-h" [href]="href + '/' + value?.id"
  [label]="actionLabel"></anu-smart-button>
