<form class="container" [formGroup]="fm">
  <div class="row">
    <label class="form-control" for="offDays"
      >When is this address open for deliveries?</label
    >

    <label class="form-control" *ngFor="let wDay of WeekDaysEnum | enumToArray">
      <input
        type="checkbox"
        class="form-check-input"
        formArrayName="offDays"
        [checked]="!offDays?.value?.includes(wDay)"
        [value]="wDay"
        (change)="onOffDaysClick($event)"
      />
      <span [ngClass]="{ 'accent-light': offDays?.value?.includes(wDay) }">{{
        wDay
      }}</span>
    </label>

    <anu-form-error
      *ngIf="offDays.invalid && (offDays.touched || offDays.dirty)"
      [errors]="offDays.errors"
    ></anu-form-error>
  </div>

  <div class="row spacing-around-v">
    <label for="instructions"
      >Share additional information to find this address.</label
    >
    <textarea
      class="form-control"
      id="instructions"
      rows="4"
      formControlName="instructions"
      placeholder="Provide details such as building description, a nearby landmark, or other navigation instructions."
    ></textarea>
    <anu-form-error
      *ngIf="
        instructions.invalid && (instructions.touched || instructions.dirty)
      "
      [errors]="instructions.errors"
    ></anu-form-error>
  </div>
  <div class="row spacing-around-v">
    <small
      >Your instructions help us deliver to this address. However, deliveries
      may not always follow all the instructions. This information is not shared
      with third-party sellers and carriers.</small
    >
  </div>
</form>
