<h1 class="product-brand accent-deep-dark">{{product?.brand?.toUpperCase()}}</h1>
<h1 class="product-title"><a [href]="href+'/' + product?.id">{{product?.title}}</a></h1>

<!-- Sizes -->
<label class="product-size accent-deep-dark"><strong>SELECT SIZE</strong></label>
<div class="row">
    <ng-container *ngFor="let sz of product?.sizes">
        <anu-smart-button *ngIf="product?.price[sz] > 0"
            class="product-size-btn border border-round center spacing-around-half"
            [ngClass]="{'active': activeSize === sz, 'out-of-stock': product?.qty[sz] <= 0}"
            (btnClick)="setActiveSize(sz)">

            <div class="product-size-labels row center">
                <!-- Size -->
                <strong class="product-size-labels-size row center">{{sz}}</strong>

                <!-- PRICE -->
                <small class="product-size-labels-price row center">Rs.
                    {{product?.price[sz] | sellingprice: product?.offer[sz]}}</small>

                <!-- Qty alert -->
                <small *ngIf="product?.qty[sz] == 1"
                    class="product-size-qtyalert row center primary-darkest-grad-h accent-deep-light spacing-h">{{product?.qty[sz]}}
                    left</small>
            </div>

        </anu-smart-button>
    </ng-container>

</div>

<!-- Qty -->
<div class="row">
    <label class="product-qty" for="qty">Choose Qty</label>
    <select class="product-qty-list" name="qty" id="qty" [(ngModel)]="activeQty" (ngModelChange)="onQtyChange($event)">
        <option *ngFor="let qt of allowedQty" [value]="qt">{{qt}}</option>
    </select>
</div>

<!-- Price -->
<div class="row">
    <label class="product-price row nowrap" *ngIf="product?.offer[activeSize] > 0">
        <strong class="product-price-selling accent-deep-dark">Rs. {{product?.price[activeSize] | sellingprice:
            product?.offer[activeSize]}}</strong>
        <span class="product-price-mrp text-strike">MRP Rs. {{product?.price[activeSize]}}</span>
        <strong class="product-price-discount warning">({{product?.offer[activeSize]}}% OFF)</strong>
    </label>
    <label class="product-price" *ngIf="product?.offer[activeSize] <= 0">
        <strong class="product-price-selling accent-deep-dark">Rs. {{product?.price[activeSize] | sellingprice:
            product?.offer[activeSize]}}</strong>
    </label>
    <strong class="success row"><small>inclusive of all taxes</small></strong>
</div>

<!-- Action Buttons -->
<div class="product-actions row nowrap">
    <anu-smart-button *ngIf="enableAddToBag"
        class="spacing-h spacing-around primary-deep-dark-grad-h accent-deep-light border-round" label="ADD TO BAG"
        (btnClick)="onAddToBag()">
    </anu-smart-button>
    <anu-smart-button *ngIf="enableRemove" class="spacing-h spacing-around border-round" label="REMOVE"
        (btnClick)="onRemove()">
    </anu-smart-button>
    <anu-smart-button *ngIf="enableWishlist" class="spacing-h spacing-around border-round" label="WISHLIST"
        (btnClick)="onWishlist()">
    </anu-smart-button>
</div>
