@import 'mixins';

:host {

    ::ng-deep .ngxImageZoomContainer {
        width: 100% !important;
    }

    ::ng-deep .ngxImageZoomThumbnail {
        width: 100% !important;
    }

    .product {

        &-imagelist {
            &-item {

                &:hover,
                &.active {
                    @include shadow();
                    cursor: pointer;
                }
            }
        }

        &-zoom {
            min-height: 10rem;
        }
    }
}
