@import 'mixins';

:host {

    ::ng-deep .ngxImageZoomContainer {
        width: 100% !important;
    }

    ::ng-deep .ngxImageZoomThumbnail {
        width: 100% !important;
    }

    .product {
        &-brand {
            font-size: 1.5rem;
            line-height: 1;
        }

        &-title {
            font-size: 1.4rem;
            line-height: 1;
        }

        &-size {
            margin-top: 2rem;

            &-labels {
                * {
                    margin: 0;
                    padding: 0;
                }
            }

            &-qtyalert {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                text-align: center;
            }

            &-btn {
                &.active {
                    @include shadow()
                }

                &.out-of-stock {
                    position: relative;
                    @include disabled();

                    &:after {
                        content: "OUT OF STOCK";
                        position: absolute;
                        top: 100%;
                        left: 0;
                        font-size: 0.7rem;
                        color: red;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }

        &-price {
            margin-top: 3rem;
            align-items: center;

            &-selling {
                font-size: 1.4rem;
                margin-right: 1rem;
            }

            &-mrp {
                margin-right: 1rem;
            }

            &-discount {
                font-size: 1.4rem;
                margin-right: 1rem;
            }
        }

        &-qty {
            margin-top: 2rem;

            &-list {
                width: 6rem;
            }
        }

        &-actions {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        &-imagelist {
            &-item {

                &:hover,
                &.active {
                    @include shadow();
                }
            }
        }
    }
}
