<!-- Readonly Address -->
<div *ngIf="instructionsOnly" class="row">
  <anu-address [value]="value"></anu-address>
</div>

<ng-container *ngIf="!instructionsOnly">
  <anu-dynamic-form
    [params]="addressParams"
    [value]="value"
    [cancelBtnLabel]="cancelBtnLabel"
    [saveBtnLabel]="saveBtnLabel"
    (cancelClicked)="onCancel($event)"
    (submitClicked)="onSubmit($event)"
    (changed)="onChange($event)"
  ></anu-dynamic-form>
</ng-container>

<!-- Deliver Instructions -->
<div class="spacing-around-v">
  <anu-collapsible
    [collapsed]="false"
    [hamBurgerClassNames]="[
      'size-sm',
      'secondary-light-grad-h',
      ' spacing-half'
    ]"
    [isDropdownStyle]="true"
  >
    <anu-collapsible-header>
      <strong>Add delivery instructions.</strong>
    </anu-collapsible-header>
    <anu-collapsible-content>
      <!-- COLAP -->
    </anu-collapsible-content>
  </anu-collapsible>
</div>
