<!-- Readonly Address -->
<div *ngIf="instructionsOnly" class="row">
  <anu-address [value]="value"></anu-address>
</div>

<ng-container *ngIf="!instructionsOnly">
  <anu-dynamic-form
    [params]="addressParams"
    [loading]="loading"
    [value]="value"
    [cancelBtnLabel]="cancelBtnLabel"
    [saveBtnLabel]="saveBtnLabel"
    (cancelClicked)="onCancel($event)"
    (submitClicked)="onSubmit($event)"
    (changed)="onChange($event)"
    (controlValueChanged)="onControlValueChange($event)"
  ></anu-dynamic-form>
</ng-container>
